.header {
  box-shadow: 1px 5px 9px rgba(211, 211, 211, 0.9);
}
.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.header .logo img {
  height: 70px;
}

.loggout_btn {
  font-size: 20px;
  color: white;
  border-radius: 15px;
  border: none;
  background-color: #003a74;
  width: 100px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: linear-gradient(-90deg, #003a74, #006ad5);
  box-shadow: 1px 5px 9px rgba(211, 211, 211, 0.9);
  cursor: pointer;
}
.loggout_btn:hover {
  background: linear-gradient(-100deg, #011e3b, #033a71);
  background-color: #072442;
}
